<!-- <div>
  Enter First Number:<input type="number" [(ngModel)]="tableNumber1"/>
</div>
<div>
  Enter Second Number: <input type="number" [(ngModel)]="tableNumber2"/>
</div>
This is result= {{result}} 
<div>
  <button (click)="Addition()">Addition</button>
  <button (click)="Subtraction()">Subtraction</button>
  <button (click)="Multiply()">Multiply</button>
  <button (click)="Division()">Division</button> 
</div>
    -->

<!-- New Project (Crude Operation) -->
<!-- <div>
  <label for="fname">Name:</label>
  <input type="text" [(ngModel)]="person.Name"><br>
</div>
<div>
  <label for="mail">Email:</label>
  <input type="text" [(ngModel)]="person.Email"><br>
</div>
<div>
  <label for="num">Number</label>
  <input type="number" [(ngModel)]="person.Number">
</div>
<div>
  <label for="Mefe">Gender:</label>
  <input type="radio" [(ngModel)]="person.Gender" value="Male">
  <label for="html">Male</label>
  <input type="radio" [(ngModel)]="person.Gender" value="Female">
  <label for="css">Female</label>
</div>
<div>
  <label for="cars">City:</label>
  <select name="city" [(ngModel)]="person.City" id="cars">
    <option value="Fatehpur">Fatehpur</option>
    <option value="Raebrali">Raebrali</option>
    <option value="Lucknow">Lucknow</option>
    <option value="Kanpur">Kanpur</option>
  </select>
</div>
<div>
  <button (click)="SubmitData(); getData()">Submit</button>
</div>
<div>
  <table>
    <tr>
      <td>Name </td>
      <td>Email</td>
      <td>Number</td>
      <td>Gender</td>
      <td>City</td>
    </tr>
    <tr>
      <td>{{tableList.Name}}</td>
      <td>{{tableList.Email}}</td>
      <td>{{tableList.Number}}</td>
      <td>{{tableList.Gender}}</td>
      <td>{{tableList.City}}</td>
    </tr>
  </table>
</div> -->

<!-- APi Call -->

<h1>{{title}}</h1>

<ul>
  <li *ngForOf="let a of users" >
  {{a.name}} : {{a.age}}
  </li>
</ul>

<app-footer></app-footer>